{
  "env": {
      "node": true,
      "es6": true,
      "jest": true
  },
  "extends": "eslint:recommended",
  "rules": {
      "indent": ["error", 4],
      "quotes": ["error", "single"],
      "semi": ["error", "always"],
      "comma-dangle": ["error", "always"],
      "no-unused-vars": "error"
  }
}
